/* Estilo base */

/* Estilos padrão para telas maiores */
.menu {
    font-size: 15px;
    /* Estilos do menu */
}

.header {
    font-size: 2rem;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    /* Permite que os elementos se movam para a próxima linha em telas menores */
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    background-color: white;
    padding-top: 3vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 1vh;
    border-radius: 2rem;
}

.dadosPrincipais,
.itensRequisicao {
    flex: 1;
    padding: 20px;
    /* Adiciona algum espaçamento interno nos contêineres principais */
    box-sizing: border-box;
    /* Garante que o espaçamento interno não afete o tamanho total do contêiner */
}

.titulo {
    font-size: 1.5rem;
}

.grupoInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

/* Adaptações para telas menores */
@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }

    .header {
        font-size: 1.5rem;
        /* Reduzir o tamanho da fonte do cabeçalho */
    }

    
    .titulo {
        font-size: 1.2rem;
        /* Reduzir o tamanho da fonte dos títulos */
    }

    .menu {
        font-size: 15px;
        /* Adaptações necessárias para o menu em telas menores */
    }

    .conteudo {
        flex-direction: column;
        /* Empilha os contêineres em telas menores */
    }

    .dadosPrincipais {
        width: 100%;
        box-sizing: border-box;
    }

    .camposPrincipaisLinha1,
    .camposPrincipaisLinha2,
    .camposPrincipaisLinha3 {
        flex-direction: column;
        
    }

    .grupoInput {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        align-items: start;
        justify-content: center;
    }

    .camposItens .linhaAdicionarItens {
        flex-direction: column;
        align-self: flex-start;
    }

    .linhaAdicionarItens {
        max-width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: start;
    
    }

    .grupoProduto,
    .grupoProdutoDescricao,
    .grupoEstoque,
    .grupoQuantidade {
        width: 100%;
        margin-bottom: 10px;
    }

    .tabelaItens {
        /* max-width: 100%;
        overflow-x: auto; */
        max-width: 100%;
        max-height: 100%;
        overflow-x: auto;
        font-size: 10px;
        font-weight: 700;
    }

    /* table {
        display: flex;
        justify-items: center;
        flex-direction: column;
    } */

    #btnRemover {
        font-size: 5px;

    }

    .grupoTotal,
    .grupoBtnInserirItens {
        width: 100%;
    }

    .dadosPrincipais,
    .itensRequisicao {
        padding: 10px;
        max-width: 100%;
        /* Adicionar algum espaçamento interno nos contêineres principais */
    }


    .grupoInput {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .camposItens .linhaAdicionarItens {
        flex-direction: column;
        align-items: start;
    }

    .BtnInserirItens {
        margin-top: 10px;
        /* Adicionar algum espaçamento acima do botão Adicionar */
    }
}

/* Adaptações para telas ainda menores */
@media only screen and (max-width: 480px) {

    .grupoMotivo,
    .grupoCategoria {
        flex-direction: column;
    }

    .titulo {
        font-size: 1rem;
        /* Reduzir ainda mais o tamanho da fonte dos títulos */
    }

    .grupoInput {
        margin-bottom: 5px;
    }

    .BtnInserirItens {
        margin-top: 15px;
        /* Aumentar o espaçamento acima do botão Adicionar em telas ainda menores */
    }

    .tabelaItens th {
        font-size: 5px;
    }
    
    .tabelaItens tr,
    .tabelaItens td {
        font-size: 5px;
    }
}

/* Adaptações para dispositivos muito pequenos, como smartphones em modo retrato */
@media only screen and (max-width: 320px) {
    .titulo {
        font-size: 0.5rem;
        /* Ajustar ainda mais o tamanho da fonte dos títulos para telas muito pequenas */
    }
}

.container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
}

.conteudo {
    margin-bottom: 15px;
}

.conteudo span {
    display: block;
    /* margin-bottom: 5px; */
}

.conteudo .BtnInserirItens {
    padding: 5px 5px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}


